*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background: #f8444f;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}
input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    box-shadow: none;
    outline: none;
    border: none;
    background: inherit;
    font-family: inherit;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
button {
    box-shadow: none;
    outline: none;
    border: none;
    background: inherit;
    cursor: pointer;
}
.perfect-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.quantity {
    background: #f7f8f3;
    padding: 24px;
    border-radius: 4px;
}
.quantity input[type=number] {
    font-size: 24px;
    width: 150px;
    text-align: center;
}
